header>.header svg path{
    fill: var(--ton-white-4);
}

header nav.desk{
    position: sticky;
    top: 0;
    width: 99vw;
    background: #fff;
    padding: 10px 0;
}

header nav.desk .nav ul{
    gap: 50px;
}

.nav{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    align-items: center;
}
nav .nav ul li a{
    color: var(--ton-black-2);
    font-size: 18px;
    line-height: 23px;
}
nav .nav ul li a:hover{
    color: var(--ton-black-2);
    font-weight: 600;
}
ul{
    display: flex;
    gap: 21px;
}


/* --------------------------------------------------- HEADER -------------------------------------------------- */

.group_box_content_text-header h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: var(--ton-black-1);
    mix-blend-mode: normal;
}

.group_box_content_text-header h5{
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: var(--ton-black-3);
}

a.button-header{
    border-radius: 55px;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--main-color);
    color: var(--ton-white-1);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}

.group_box_content-header{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.container.content-header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 100px;
}


/* --------------------------------------------------- our_services -------------------------------------------------- */

.our_services{
    background-color: var(--ton-white-1);
    background-image: url(./../img/Vector.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center left;
    margin: 192px 0 220px 0;
}

.group_box_content_text-our_services{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 79px;
}

.group_box_content_text-our_services h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: var(--ton-black-1);
    mix-blend-mode: normal;
}

.group_box_content_text-our_services h5{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.group_box_content_text-our_services hr{
    width: 56px;
}

.group_box_content-our_services{
    margin-bottom: 69px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns:repeat(auto-fill, 385px);
}

.group_box_content-our_services .box_content-our_services{
    width: 268px;
    height: 253.41px;
    padding: 46.59px 49px;
    border-radius: 20px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    background-color: var(--ton-white-1);
}

.box_content-our_services svg{
    margin-bottom: 22.41px;
}

.box_content-our_services h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
    color: var(--ton-black-1);
    mix-blend-mode: normal;
}

.box_content-our_services h5{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: var(--ton-black-3);
    mix-blend-mode: normal;
}

.group_content-our_services{
    display: flex;
    justify-content: center;
}

a.button-our_services{
    padding: 0px 47.29px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 52px;
}


/* --------------------------------------------------- providers -------------------------------------------------- */

.providers{
    margin-bottom: 229px;
}

.container.content-providers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group_box_content_text-providers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 29px;
    max-width: 481px;
    width:100%;
    margin-bottom: 36px;
}

.group_box_content_text-providers h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

.group_box_content_text-providers h5{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--ton-black-3);
}

.group_box_content_text_hr-providers{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.group_box_content_text_hr-providers{
    width: 56px;
}

.group_box_content_text-providers hr{
    width: 56px;
}

a.button-providers{
    padding: 13.5px 47.29px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}


/* --------------------------------------------------- download -------------------------------------------------- */


.download{
    margin-bottom: 229px;
}

.container.content-download{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.group_box_content_text-download{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 29px;
    max-width: 481px;
    width:100%;
    margin-bottom: 36px;
}

.group_box_content_text-download h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
}

.group_box_content_text-download h5{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: var(--ton-black-3);
}

.group_box_content_text_hr-download{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;
}

.group_box_content_text_hr-download{
    width: 56px;
}

.group_box_content_text-download hr{
    width: 56px;
}

a.button-download{
    padding: 13.5px 47.29px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}

/* --------------------------------------------------- Card -------------------------------------------------- */

.card{
    margin-bottom: 150px;
}


.container.content-card{
    background-color: var(--main-color);
    color: var(--ton-white-1);
    border-radius: 24px;
}

.group_box_content-card .group_box_content_text-card h3{
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

.group_box_content_text_sub_1-card .group_content-text-1 h4{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
}

.group_box_content_text_sub_1-card .group_content-text-1 h5{
    font-size: 18px;
    line-height: 48px;
}

.group_box_content_text_sub_1-card .group_content-text-2 p{
    font-size: 19px;
    line-height: 30px;
}


/* --------------------------------------------------- Check-out -------------------------------------------------- */

.check-out{
    background-color: var(--ton-white-1);
    background-image: url(./../img/Vectorvector-2.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center right;
    margin: 192px 0 220px 0;
}

.group_box_content-check-out .group_box_content_text h2{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
}

.group_box_content_text hr{
    width: 56px;
    margin-bottom: 79px;
}

.box_content-check-out {
    max-width: 350px;
}

.box_content-check-out figure{
    display: flex;
    justify-content: center;
}

.box__content-check-out{
    padding: 33px;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.box__content-check-out h4{
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
}

.box__content-check-out p{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: var(--ton-black-3);
}

.box__content-check-out a{
    color: var(--main-color);
}

.content_button-check-out{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
}

a.button-check-out{
    padding: 0 64.42px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 55px;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
}

/* --------------------------------------------------- Footer -------------------------------------------------- */

footer{
    background: linear-gradient(183.41deg, var(--gradient-first) -8.57%, var(--gradient-second) 82.96%);
    color: var(--ton-white-1);
}

footer>svg{
    align-self: flex-end;
}

footer .group_content_box-foooter:first-child{
    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: flex-start;
}

.group_content_box-foooter:not(:first-child){
    display: flex;
    flex-direction: column;
    gap: 48px;
}

footer ul {
    flex-direction: column;
    gap: 18px;
}

footer a:hover{
    color: var(--ton-white-3);
}

@media only screen and (min-width: 900px){
    body > header >nav.desk{
        display: block;
    }

    .group_box_content_text-header h1{
        width: 427px;
    }

    .group_box_content_text-header h5{
        width:445px;
    }

    .container.content-header figure img{
        max-width: 693px;
        max-height: 598px;
    }

    .group_box_content-card .group_box_content_text-card h3{
        width: 560px;
        margin-bottom: 60px;
    }

    .group_box_content_text_sub_1-card{
        align-items: center;
        justify-content: space-between;
        display: flex;
    }

    .group_box_content-card{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 70px 0;
    }

    .group_box_content_text-card{
        width: 714px;
    }

    .group_box_content_text_sub_1-card .group_content-text-1 h4{
        width: 220px;
    }

    .group_box_content_text_sub_1-card .group_content-text-1 h5{
        width: 150px;
    }

    .group_box_content_text_sub_1-card .group_content-text-2 p{
        width: 435px;
    }
    
    .container.desk.svg-bottom-card{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .group__box_content-check-out{
        display: grid;
        grid-gap: 30px;
        grid-template-columns:repeat(auto-fill, 385px);
    }
    footer{
        display: flex;
        flex-direction: row-reverse;
    }
    footer .group_content_box-foooter:first-child{
        width: 391px;
        height: 192px;
    }
    footer .container.content-footer{
        padding: 120px 0;
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
    }
}

@media only screen and (max-width: 900px){
    .container.content-header,.container.content-providers,.container.content-download{
        flex-direction: column;
    }

    .container.content-download figure{
        margin-top: 50px;
    }

    .container.content-providers,.container.content-download{
        text-align: center;
    }

    .box_content-our_services{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .group_box_content-card{
        padding: 10px;
    }
    .group__box_content-check-out{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    body>footer{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 100px !important;
        padding: 0 17px;
    }

    .header,section.providers,section.download{
        margin-left: 17px;
        margin-right: 17px;
    }
}
